
<div id="friend-suggestions">
   <h1>Friend Suggestions</h1>
   <% @users.each do |user| %>
      <div class="friend-suggest">
         <div class="email"> <%= user.email %></div>
         <div class="rqst-container">
            <%= form_with url: friend_requests_path(current_user.id), method: :post do |form| %>
               <%= hidden_field_tag :recipient_id, user.id %>
               <%= form.submit "Send Friend Request", class: "frnd-add-btn" %>
            <% end %>
         </div>
      </div>
   <% end %>
</div>

<div class="friends-list">
    <% if @friends.length > 0 %>
        <h1>Friends</h1>
        <div class="friends">
            <% @friends.each do |f| %>
                <div class="user">
                    <%= link_to f.email, user_path(f.id) %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>




