
<h1>Users</h1>
current: <%= current_user.email %>
   <% @users.each do |user| %>

         <li> <%= user.email %></li>
            <%= form_with url: friend_requests_path(current_user.id), method: :post do |form| %>
            <%= hidden_field_tag :recipient_id, user.id %>
            <%= form.submit "Send Friend request" %>
            <% end %>

   <% end %>




