<h1>requests</h1>

<% @requests.each do |requester| %>
    user id: <%= requester.sender_id %>
    request id: <%= requester.id %>
    <%= link_to 'Accept request', accept_friend_request_path(requester.id) %>
    <%= link_to 'Reject request', reject_friend_request_path(requester.id) %>
<% end %>
<%= @requester %>


<h1>friends</h1>

<% @friends.each do |f| %>
    <%= f.email %>
<% end %>