<%= render "form" %>

<% @posts.each do |post| %>
    <div>
        <%= post.body %>
        <% if @likes.where(post_id: post.id).exists? == true %>
            <%= form_with url: post_like_path(post.id, @likes.where(post_id: post.id)[0].id), method: :delete do |form| %>
                <%= submit_tag "unlike post" %>
            <% end %> 
        <% else %>
            <%= form_with url: "/posts/#{post.id}/likes/", method: :post do |form| %>
                <%= submit_tag "like post" %>
            <% end %>
        <% end %>
        <%= post.likes.count %> likes
        <ul>
            <% post.comments.each do |comment| %>
                <li><%= comment.body %></li>
            <% end %>
        </ul>
        <%= form_with model: @comment do |form| %>
            <%= hidden_field_tag :post_id, post.id %>
            <%= form.text_field :body %>
            <%= submit_tag "Leave Comment" %>
        <% end %>
    </div>
<% end %>

