<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ed6bc2265d.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav id="nav-bar">
    <div>
      <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <% if current_user %>
        <li>
        <% if @requests.count > 0 %>
          <%= link_to "Notifications: #{@requests.count}" %>
        <% else %>
          <%= link_to "Notifications" %>
        <% end %>
        </li>
        <li>
          <%= link_to 'Profile', user_path(current_user.id) %>
        </li>
        <li id="sign-out">
          <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
    </div>

  </nav>

    <%= yield %>
  </body>
</html>



